gh-pages/transforms/schemas/LaxProtectionProfile.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="https://niap-ccevs.org/cc/v1"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:sec="https://niap-ccevs.org/cc/v1/section"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:htm="http://www.w3.org/1999/xhtml"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         >

<!-- ################################# -->
<!--            START                  -->
<!-- ################################# -->
  <start>
    <element name="PP">
      <a:documentation>Root element for Protection Profile XML document</a:documentation>
      <ref name="pp-attributes"/>
      <ref name="cPP-flag"/>
      <ref name="project-notes"/>
      <ref name="PPReference"/>
      <ref name="RevisionHistory"/>
      <ref name="Foreword"/>
      <ref name="subaactivity-decl"/>
      <ref name="packages"/>
      <ref name="modules"/>
      <ref name="PreferencesEtc"/>
      <ref name="Chapters"/>
      <ref name="SecProbDesChapter"/>
      <ref name="SecObjChapter"/>
      <ref name="SecurityRequirementsChapter"/>
      <ref name="Chapters"/>
      <ref name="appendices-pat"/>
      <ref name="implements-pat"/>
      <ref name="bibliography"/>
      <!-- This is where we can store extra css -->
      <optional>
        <element name="extra-css">
          <text/>
        </element>
      </optional>
    </element>
  </start>

  

  <include href="Commons.rng">

   <!--
    <define name="xref-content">
      <choice>
        <ref name="to-attr"/>
        <attribute name="ref">
         <choice>
            <value>ref-strict-optional</value>
            <value>sel-based-reqs</value>
            <value>obj-reqs</value>
            <value>impl-reqs</value>
          </choice>
        </attribute>
      </choice>
    </define>-->
    <define name="custom-basic-content-pat">
      <choice>
	<ref name="cc-terms"/>
	<ref name="tech-terms"/>
	<ref name="usecases"/>
	<element name="if-opt-app">
          <a:documentation>
	    Content that only appears if the optional appendices exist.
          </a:documentation>
	  <!-- <text/> -->
          <ref name="basic-content-pat"/>
       </element>
      </choice>
    </define>
  </include>



  <define name="PreferencesEtc">
  <a:documentation>A place for declarations and preferences</a:documentation>
    <optional> <ref name="pp-preferences-pat"/> </optional>
  </define>
  
  <define name="modules">
    <optional> <element name="modules"><optional><attribute name="required"/></optional>
    <zeroOrMore>
      <element name="module"><ref name="external-document-pat"/></element>
    </zeroOrMore>
   </element></optional>
  </define>
  <define name="SecurityRequirementsChapter">
    <choice>
      <element name="section">
        <attribute name="title"><value>Security Requirements</value></attribute>
        <attribute name="id"/>
      	<optional><ref name="description"/></optional>
        <ref name="sec-req-content"/>
      </element>   
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"><value>Security Requirements</value></attribute>
	<optional><ref name="description"/></optional>
        <ref name="sec-req-content"/>
      </element>
      <element name="sec:Security_Requirements">
	<optional><ref name="description"/></optional>
         <ref name="sec-req-content"/>
      </element>
    </choice>
  </define>

  <define name="cPP-flag">
    <a:documentation>Denotes that this PP is a collaborative PP (cPP)</a:documentation>
    <optional><element name="cPP"><empty/></element></optional>
  </define>

  <define name="sec-req-content">
    <ref name="boilerplate-no-attr"/>
    <ref name="basic-content-pat"/>
    <zeroOrMore><ref name="section"/></zeroOrMore>
    <ref name="sfr-section"/>
    <choice>
      <element name="section">
        <attribute name="title"><value>Security Assurance Requirements</value></attribute>
        <attribute name="id"/>
        <ref name="sar-content"/>
      </element>   
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"><value>Security Assurance Requirements</value></attribute>
        <ref name="sar-content"/>
      </element>
      <element name="sec:Security_Assurance_Requirements">
        <ref name="sar-content"/>
      </element>
    </choice>
  </define>

  <define name="sar-content">
    <ref name="basic-content-pat"/>
    <oneOrMore><choice>
      <element name="section">
        <attribute name="title"/>
        <attribute name="id"/>
        <ref name="basic-content-pat"/>
        <zeroOrMore><ref name="a-component-pattern"/></zeroOrMore>
      </element>   
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"/>
        <ref name="basic-content-pat"/>
        <zeroOrMore><ref name="a-component-pattern"/></zeroOrMore>
      </element>
    </choice></oneOrMore>
  </define>
  

<!-- <choice>
      <element name="section">
        <attribute name="title"><value>Security Functional Requirements</value></attribute>
        <optional><attribute name="id"/></optional>
	<optional><ref name="description"/></optional>
        <ref name="sfr-content"/>	
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"><value>Security Functional Requirements</value></attribute>
        <optional><ref name="description"/></optional>
        <ref name="sfr-content"/>	
      </element>
      <element name="sec:Security_Functional_Requirements">
        <optional><ref name="description"/></optional>
        <ref name="sfr-content"/>	
      </element>
    </choice>
  </define>
-->
<!--
  <define name="sfr-content"> 
    <oneOrMore>
	  <element name="subsection">
	    <attribute name="title"/>
	    <attribute name="id"/>
	    <ref name="basic-content-pat"/>
	    <oneOrMore>
	      <choice>
		     <ref name="audit-table-pat"/>
        	     <ref name="f-component-pattern"/>
		     <ref name="ext-comp-def-pat"/>
	      </choice>
	    </oneOrMore>
	  </element>
	</oneOrMore>
      </element>
      <element name="section">
	<attribute name="title"><value>Security Assurance Requirements</value></attribute>
	<optional><attribute name="id"/></optional>
	<ref name="basic-content-pat"/>
	<oneOrMore>
	  <element name="subsection">
	    <attribute name="title"/>
	    <attribute name="id"/>
	    <ref name="basic-content-pat"/>
	    <zeroOrMore>
              <ref name="a-component-pattern"/>
	    </zeroOrMore>
	  </element>
	</oneOrMore>
      </element>
    </element>
  </define>
-->  
<!--
  <define name="appendix-pat">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <oneOrMore>
      <element name="appendix">
        <a:documentation>
          Element that defines an appendix.
        </a:documentation>
        <ref name="id-attr"/>
        <ref name="title-attr"/>
        <ref name="boilerplate-no-attr"/>
        <oneOrMore><choice>
            <ref name="basic-content-pat"/>
            <ref name="section"/>
            <ref name="acronyms"/>
            <ref name="bibliography"/>
        </choice></oneOrMore>
      </element>
    </oneOrMore>
  </define>
-->
<!--
  <define name="section">
    <element name="section">
      <a:documentation>
        A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <ref name="subsection-pattern"/>
-->
         <!--  <ref name="OSPs"/> -->
         <!--  <element name="SOEs"> -->
         <!--    <a:documentation> -->
         <!--      Grouping for Security Objectives for the Operational environment. -->
         <!--    </a:documentation> -->
         <!--    <oneOrMore> -->
         <!--      <element name="SOE"> -->
         <!--        <a:documentation> -->
         <!--          Security Objective for the Operational environment. -->
         <!--        </a:documentation> -->
         <!--        <optional><ref name="id-attr"/></optional> -->
         <!--        <attribute name="name"> -->
         <!--          <data type="string"> -->
         <!--            <param name="pattern">OE.[A-Z_]+</param> -->
         <!--          </data> -->
         <!--        </attribute> -->
         <!--        <ref name="description"/> -->
         <!--      </element> -->
         <!--    </oneOrMore> -->
         <!--  </element> -->
         <!--  <ref name="SOs"/> -->
         <!--  <ref name="assumptions"/> -->
         <!--  <ref name="threats"/> -->
<!--        </choice>
      </oneOrMore>
    </element>
  </define>
-->

<!--
 <define name="usecases-section">
    <element name="section">
      <a:documentation>
        Section specific for use cases.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      
      <ref name="basic-content-pat"/>
      <element name="usecases">
        <a:documentation>
          Wrapper element for uses cases.
        </a:documentation>
        <oneOrMore>
          <element name="usecase">
            <a:documentation>
              A referrable section on how the protection profiled item is used.
            </a:documentation>
            <ref name="id-attr"/>
            <ref name="title-attr"/>
            <ref name="description"/>
            <optional><ref name="config"/></optional>
          </element>
        </oneOrMore>
      </element>
    </element>
  </define>
-->
  
  <define name="a-elements">
    <oneOrMore>
      <element name="a-element">
        <a:documentation>
          Defines a functional requirement.
        </a:documentation>
        <optional>
          <attribute name="id">
            <a:documentation>
              A document-wide unique ID 
            </a:documentation>
            <data type="string">
              <param name="pattern">[\-a-zA-Z0-9]+</param>
            </data>
          </attribute>
        </optional>
        <attribute name="type">
          <data type="string">
            <param name="pattern">[DCE]</param>
          </data>
        </attribute>
        <ref name="f-element-title"/>
        <optional>
          <ref name="note"/>
        </optional>
<!--
        <optional>
          <ref name="aactivity-sar"/>
        </optional>-->
        <optional>
          <element name="aactivity">
            <a:documentation>An Evaluation Activity for that applies to this requirement or possibly all previous requirements in this component.</a:documentation>
            <ref name="basic-content-pat"/>
          </element>
        </optional>
      </element>
    </oneOrMore>
  </define>

   <define name="a-component-pattern">
    <element name="a-component">
      <a:document>
        Specifies a component under Security Assurance Requirements section.
      </a:document>
      <attribute name="cc-id">
        <data type="string">
           <param name="pattern">a[a-z]{2}_[a-z0-9]{2,10}(_ext)?\.[0-9]</param>
        </data>
      </attribute>
      <optional><ref name="id-attr"/></optional>
      <attribute name="name">
        <a:document>
          A readable title for this component
        </a:document>
      </attribute>
      <ref name="basic-content-pat"/>
      <optional>
        <element name="summary">
          <a:documentation>
            Summary of this component.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
      </optional>

      <oneOrMore>
        <ref name="a-elements"/>
      </oneOrMore>
    </element>
  </define>

  <define name="glossary-section">
    <element name="glossary">
      <a:documentation>
        Section to define terms.
      </a:documentation>
      <oneOrMore>
        <ref name="entry-el"/>
      </oneOrMore>
    </element>
  </define>

  <define name="Foreword">
    <optional>
      <element name="foreword">
        <a:documentation>Flexible section for a foreword.</a:documentation>
        <zeroOrMore><choice><ref name="html-element"/>
			<ref name="section"/></choice></zeroOrMore>
      </element>
    </optional>
  </define>
  
  <define name="pp-attributes">
    <attribute name="target-products">
     <a:documentation>The class of products targetted by this document.</a:documentation>
    </attribute>
    
    <optional>
      <attribute name="boilerplate">
      <a:documentation>
        Indicates that this document shall use boilerplate sections.
      </a:documentation>
      <value>yes</value></attribute>
    </optional>
    <optional>
      <attribute name="short"/> 
    </optional>

  </define>
    
   <define name="pp-preferences-pat">
    <element name="pp-preferences">
      <a:documentation>
         A place to define preferences for PP output.
      </a:documentation>
      <interleave>
        <optional><element name="display-audit-with-sfrs"><empty/></element></optional>  
        <optional><element name="audit-events-in-sfrs"   ><empty/></element></optional>
      </interleave>
    </element>
  </define> 
         
  <define name="pp-pref-pat">
    <element name="pp-pref">
      <a:documentation>
         Declarations and definition of global variables.
      </a:documentation>
      <attribute name="name">
         <a:documentation>Name of the preference.</a:documentation>
         <choice>
               <value>display-audit-with-sfrs</value>    <!-- Display audit events with SFRs -->
               <value>audit-events-in-sfrs</value>       <!-- Audit events are defined with the SFRs, vs. in tables -->
          </choice>
      </attribute>
      <ref name="basic-content-pat"/>
    </element>
  </define> 

 
  <define name="PPReference">
      <element name="PPReference">
        <a:documentation>
          A wrapper element for document meta-data.
        </a:documentation>

        <element name="ReferenceTable">
          <a:documentation>
            A second wrapper element for document meta-data.
          </a:documentation>
          <element name="PPTitle">
            <a:documentation>Title of this document</a:documentation>
            <text/>
          </element>
          <element name="PPVersion">
            <a:documentation>

Version of Common Criteria this document follows.
It should be the version listed in the CCPart1/2/3 files consulted.

            </a:documentation>
            <data type="NMTOKEN"/>
          </element>
          <element name="PPAuthor">
            <a:documentation>
              Organization that developed this PP (e.g. National Information Assurance Partnership)
            </a:documentation>
            <text/>
          </element>
          <element name="PPPubDate">
            <a:documentation>
              Date of publication for this PP.
            </a:documentation>
            <data type="date"/>
          </element>
          <element name="Keywords">
            <a:documentation>
              NOT USED. A list of keywords associated with this document.
            </a:documentation>
            <text/>
          </element>
        </element>
      </element>
  </define> 
</grammar>
