validators/operatingsystem.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://common-criteria.rhcloud.com/ns/cc" 
	 xmlns="http://relaxng.org/ns/structure/1.0" 
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	 xmlns:htm="http://www.w3.org/1999/xhtml"
	 >
  <htm:h1>Relax NG Syntax for Protection Profile input</htm:h1>
  <start>
    <element name="PP">
      <attribute name="name"/>
      <element name="PPReference">
        <attribute name="id"/>
        <attribute name="title"/>
        <element name="ReferenceTable">
          <element name="PPTitle">
            <text/>
          </element>
          <element name="PPVersion">
            <data type="NMTOKEN"/>
          </element>
          <element name="PPAuthor">
            <text/>
          </element>
          <element name="PPPubDate">
            <data type="NMTOKEN"/>
          </element>
          <element name="PPCertificationID">
            <data type="NCName"/>
          </element>
          <element name="CCVersion">
            <text/>
          </element>
          <element name="Keywords">
            <text/>
          </element>
          <ref name="entry"/>
        </element>
      </element>
      <element name="RevisionHistory">
        <attribute name="role"/>
        <ref name="entry"/>
      </element>
      <oneOrMore>
        <element name="chapter">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
              <ref name="cite"/>
              <ref name="section"/>
              <ref name="ul"/>
              <element name="cclaims">
                <oneOrMore>
                  <element name="cclaim">
                    <attribute name="id"/>
                    <ref name="description"/>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="appendix">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
              <ref name="appref"/>
              <ref name="b"/>
              <ref name="br"/>
              <ref name="cite"/>
              <ref name="secref"/>
              <ref name="section"/>
              <element name="acronyms">
                <oneOrMore>
                  <ref name="entry"/>
                </oneOrMore>
              </element>
              <element name="bibliography">
                <oneOrMore>
                  <ref name="entry"/>
                </oneOrMore>
              </element>
              <element name="table">
                <oneOrMore>
                  <element name="tr">
                    <optional>
                      <attribute name="class">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <oneOrMore>
                      <element name="td">
                        <oneOrMore>
                          <choice>
                            <text/>
                            <ref name="linkref"/>
                          </choice>
                        </oneOrMore>
                      </element>
                    </oneOrMore>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="entry">
    <element name="entry">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <element name="term">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="version">
          <text/>
        </element>
        <element name="date">
          <data type="NMTOKEN"/>
        </element>
        <element name="subject">
          <text/>
        </element>
      </optional>
      <optional>
        <choice>
          <element name="name">
            <data type="NCName"/>
          </element>
          <element name="tag">
            <data type="NCName"/>
          </element>
        </choice>
      </optional>
      <optional>
        <ref name="description"/>
      </optional>
    </element>
  </define>
  <define name="section">
    <element name="section">
      <attribute name="id">
        <data type="NCName"/>
      </attribute>
      <attribute name="title"/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr"/>
          <ref name="br"/>
          <ref name="cite"/>
          <ref name="secref"/>
          <element name="InsertSPDCorrespondence">
            <empty/>
          </element>
          <element name="OSPs">
            <element name="OSP">
              <attribute name="id">
                <data type="NCName"/>
              </attribute>
              <ref name="description"/>
              <ref name="objective-refer"/>
            </element>
          </element>
          <element name="SOEs">
            <oneOrMore>
              <element name="SOE">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
          <element name="SOs">
            <oneOrMore>
              <element name="SO">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <element name="component-refer">
                    <attribute name="ref"/>
                  </element>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="assumptions">
            <oneOrMore>
              <element name="assumption">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <ref name="objective-refer"/>
              </element>
            </oneOrMore>
          </element>
          <element name="subsection">
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
            <attribute name="title"/>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="abbr"/>
                <ref name="cite"/>
                <ref name="secref"/>
                <element name="a-component">
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="name"/>
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="aactivity"/>
                      <ref name="abbr"/>
                      <ref name="secref"/>
                      <element name="a-element">
                        <attribute name="id">
                          <data type="NCName"/>
                        </attribute>
                        <ref name="title"/>
                        <optional>
                          <ref name="note"/>
                        </optional>
                        <optional>
                          <ref name="aactivity"/>
                        </optional>
                      </element>
                      <element name="h4">
                        <text/>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
                <element name="f-component">
                  <attribute name="id"/>
                  <attribute name="name"/>
		  <ref name="status"/>
		  <optional>
		    <ref name="selection-depends"/>
		  </optional>
                  <oneOrMore>
                    <element name="f-element">
                      <attribute name="id"/>
		      <optional>
			<ref name="status"/>
		      </optional>
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="aactivity"/>
                          <ref name="assignable"/>
                          <ref name="note"/>
                          <ref name="selectables"/>
                          <ref name="title"/>
			  <ref name="selection-depends"/>
                        </choice>
                      </oneOrMore>
                    </element>
                  </oneOrMore>
                </element>
                <element name="figure">
                  <attribute name="entity"/>
                  <attribute name="id">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="title"/>
                </element>
                <element name="glossary">
                  <oneOrMore>
                    <ref name="entry"/>
                  </oneOrMore>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="threats">
            <oneOrMore>
              <element name="threat">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <ref name="objective-refer"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="usecases">
            <oneOrMore>
              <element name="usecase">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <attribute name="title"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr">
      <optional>
        <attribute name="class">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="linkend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="title"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="description">
    <element name="description">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="a"/>
          <ref name="abbr"/>
          <ref name="appref"/>
          <ref name="br"/>
          <ref name="cite"/>
          <ref name="i"/>
          <ref name="linkref"/>
	  <ref name="xref"/>
          <ref name="ul"/>
          <element name="InsertAppendixExplainer">
            <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="ul">
    <element name="ul">
      <zeroOrMore>
        <ref name="li"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="br">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="secref">
    <element name="secref">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="xref">
    <element name="xref">
      <attribute name="linkend"/>
    </element>
  </define>
  <define name="linkref">
    <element name="linkref">
      <attribute name="linkend"/>
    </element>
  </define>
  <define name="b">
    <element name="b">
      <text/>
    </element>
  </define>
  <define name="appref">
    <element name="appref">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="objective-refer">
    <element name="objective-refer">
      <attribute name="ref">
        <data type="NCName"/>
      </attribute>
      <element name="rationale">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="abbr"/>
          </choice>
        </oneOrMore>
      </element>
    </element>
  </define>
  <define name="aactivity">
    <element name="aactivity">
      <ref name="basic-content"/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <oneOrMore>
        <choice>
	  <ref name="html-element"/>
          <ref name="abbr"/>
          <ref name="assignable"/>
          <text/>
          <ref name="linkref"/>
          <ref name="selectables"/>
          <element name="management-function-set">
            <oneOrMore>
              <element name="manager">
                <data type="NCName"/>
              </element>
            </oneOrMore>
            <oneOrMore>
              <element name="management-function">
                <optional>
                  <attribute name="user">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="abbr"/>
                    <ref name="assignable"/>
                    <ref name="selectables"/>
                  </choice>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="requires">
            <attribute name="req">
              <data type="NCName"/>
            </attribute>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="role">
          <data type="NCName"/>
        </attribute>
      </optional>
      <ref name="basic-content"/>
    </element>
  </define>
  <define name="selectables">
    <element name="selectables">
      <optional>
        <attribute name="atleastone">
	  <choice><value>yes</value><value>no</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
	  <choice><value>yes</value><value>no</value></choice>
        </attribute>
      </optional>
      <ref name="selectable"/>
      <oneOrMore>
	<ref name="selectable"/>
      </oneOrMore>
    </element>
  </define>
  <define name="assignable">
    <element name="assignable">
      <text/>
    </element>
  </define>
  <define name="i">
    <element name="i">
      <text/>
    </element>
  </define>


  <define name="basic-content">
    <oneOrMore>
      <choice>
	<text/>
	<ref name="a"/>
	<ref name="abbr"/>
        <ref name="p"/>
	<ref name="b"/>
	<ref name="i"/>
	<ref name="ul"/>
	<ref name="ol"/>
	<ref name="li"/>
	<ref name="br"/>
	<ref name="pre"/>
        <element name="indent">
	  <ref name="basic-content"/>
	</element>
	<!-- 
	     Kinda need these here b/c li elements can have either of these when used in an
	     f-element/title.
	-->
	<ref name="linkref"/>
        <ref name="cite"/>
        <ref name="secref"/>
        <ref name="testlist"/>
	<ref name="selectables"/>
	<ref name="assignable"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="a">
    <element name="a">
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="pre">
    <text/>
  </define>
  <define name="ol">
    <oneOrMore>
      <ref name="li"/>
    </oneOrMore>
  </define>
  <define name="li">
    <element name="li">
      <ref name="basic-content"/>
    </element>
  </define>
  <define name="testlist">
    <element name="testlist">
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="test">
	    <oneOrMore>
	      <choice>
		<ref name="basic-content"/>
		<ref name="testlist"/>
	      </choice>
	    </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="selection-depends">
    <element name="selection-depends">
      <attribute name="req">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>

  <define name="p">
    <element name="p">
      <empty/>
    </element>
  </define>

  <define name="status">
    <attribute name="status">
      <choice>
	<value>threshold</value>
	<value>sel-based</value>
	<value>optional</value>
	<value>objective</value>
      </choice>
    </attribute>
  </define>

  <define name="selectable-group">
    <ref name="selectable-single"/>
    <oneOrMore>
      <ref name="selectable-single"/>
    </oneOrMore>
  </define>

  <define name="selectable-single">
    <element name="selectable">
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="html-element">
    <element ns="http://www.w3.org/1999/xhtml">
      <anyName>
	<except>
	  <nsName ns=""/>
	</except>
      </anyName>
      <zeroOrMore>
	<interleave>
	  <ref name="html-element"/>
	</interleave>
      </zeroOrMore>
    </element>
  </define>
</grammar>
